{% if site.footer_fixed %}
  <footer class="fixed-bottom text-white mt-5 py-3" role="contentinfo">
    <div class="container mt-0 text-center">
      &copy; حقوق النشر {{ site.time | date: '%Y' }} Younes ENNAJI (يونس الناجي).
      <a href="https://www.linkedin.com/in/younes--ennaji/" target="_blank" class="text-white">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>. جميع الحقوق محفوظة.
      {% if site.last_updated %}
        آخر تحديث: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5 bg-dark text-white py-3" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container text-center">
      &copy; حقوق النشر {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.footer_text | replace: 'Developed by', 'تم التطوير بواسطة' | replace: 'All rights reserved.', 'جميع الحقوق محفوظة.' }}
    </div>
  </footer>
{% endif %}
