---
layout: page
---
<div class="post">
  <article>
    <div class="profiles-container">
      <div class="row">
        {% if page.profiles %}
          {% for profile in page.profiles %}
            <div class="col-12 profile-entry">
              <div class="profile-image">
                {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: 'assets/img/people/' %}
                  <img
                    src="{{ profile_image_path | relative_url }}"
                    alt="{{ profile.name }}"
                    loading="lazy"
                  >
                {% endif %}
              </div>
              <div class="profile-info">
                <h2 class="profile-title">{{ profile.name }}</h2>
                <div class="profile-description">
                  {{ profile.description | markdownify }}
                </div>
                <a href="{{ profile.page_url | prepend: '/people/' }}" class="read-more">قراءة المزيد عن مساهماته العلمية</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </article>
</div>
